@import url('type.css');
@import url('colors.css');

body,
html {
  margin: 0;
}

header#site-header {
  display: flex;
  justify-content: space-between;
  padding:0;
  padding-right: 5em;
  background: var(--primary-background);
  color:var(--heading-color);
  background-color: var(--primary-background);
  background-size: 10px 10px;
  background-image:
    linear-gradient(to right, var(--primary-background-light) 1px, transparent 1px),
    linear-gradient(to bottom, var(--primary-background-light) 1px, transparent 1px);
}


header#site-header :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;

}

header#site-header > div{
  margin:1em;
}

#site-header img#me {
  border: 5px solid #5e8aa1;
  object-fit: contain;
  top: 0em;
  right: 0;
  transform-origin: top center;
  height:100px;
  width:auto;
  transform:rotate(-20deg);
  background-size: contain;
  box-shadow: -4px 4px 10px var(--primary-background-dark);
}
#site-header img#me:hover {
  transform: rotate(-10deg);
}

main {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  padding:1em;
  gap:1em;
}

section#contact-me {
  grid-column: 3;
}