<style>

section#spam-mail {
  border:1px solid black;
  gap:1em;
  height:20em;
  display:grid;
  grid-template:
    "header  header" auto 
    "sidebar main" 1fr
  /  1fr     2fr;
  
}

#spam-mail header {
  background:yellow;
  color:purple;
  grid-area:header;
}


#spam-mail header {
  background:yellow;
  color:purple;
  grid-area:header;
}

#spam-mail aside {
  grid-area:sidebar;
  background:purple;
  color:white;
}

#spam-mail main {
  grid-area:main;
}
</style>
<section id="spam-mail">
  <header>
    <h1>header…</h1>
  </header>
  <aside style="">
    <h2>Sections:</h2>
    <ul>
      <li>one</li>
      <li>two</li>
    </ul>
  </aside>
  <main>stuff about things.
  </main>
</section>