
demo-demo { 
  display: grid;
  grid-template: 
      "demo demo demo" 1fr 
      "css  js   html" 1fr 
    / 1fr 1fr 1fr;
  gap: 2px;
}

demo-demo figure { grid-area: demo; }

demo-demo :is(style, script, pre){
  overflow:scroll;
  display: block;
  white-space: pre-wrap;
  background: #333;
  color: limegreen;
  font-family: Fira Mono, monospace;
  font-size: .8rem;
  margin:0;
  padding:.2em;
}

demo-demo :is(style, script, pre):before {
  content: attr(data-label);
  display: block;
  background:white;
  color:#333;
  font-size: .5rem;
  border: 1px solid;
  text-align: right;
  padding-right: 1em;
  border-top: 1px solid #333;
  margin:-.3em;
}
